<div class="container">
    <div class="row mt-5 justify-content-center align-self-center">
        <div class="col-md-6 mt-5 mx-auto p-5 align-self-center shadow-lg bg-white rounded text-secondary">
            <h4>SSD Assignment 2  - Google Drive Image Upload using OAuth2.0</h4>
            <hr class="my-4">
            <p>
                <small>Sign in with your Google account to upload images to your Google Drive</small>
            </p>
            <br />
            <br /><br />
        </div>
        <div class="col-md-4 mx-auto align-self-center">
            <a class="btn btn-lg shadow bg-white text-white p-3 pr-5 rounded font-weight-light w-100" style="background-color: #ea4335 !important;"
                href="{{authUrl}}">
                <i class="fab fa-google mx-3 d-inline-block"></i> Sign in with Google
            </a>
        </div>
    </div>
</div>